.parrafos {

    font-size: 18px !important;
    color: black !important;
}


.linksFormato {

    color: white;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer; /* Hace que el cursor se vea como un enlace */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}