.parrafos {

    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
}


.linksFormato {

    color: white;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer; /* Hace que el cursor se vea como un enlace */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}